/* header style */
.content{
    margin-left: 70px;
    width: 85%;
    background-color: #161616;
    border-radius: 17px;
}
.container{
    display: flex;
    width: 841px;
    height: 430px;
    margin-left: 50px;
    
}
h1{
    font-size: 2.6em;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}
.head-title{
    margin-top: 30px;
    width: 42%;
    color: #FFFFFF;
}
.head-title a{
    color: #FFFFFF;
}
.title-img{
    margin-top: 20px;
    margin-left: 25px;
}
.title-img img{
    width: 390px;
}
#para{
    font-size: small;
    margin-top: 0%;
    color: rgb(184, 199, 212);
}
.button{
    margin-top: 30px;
}
.link-button{
    font-size: small;
    color: #ece0e0;
    padding: 6px 16px 10px;
    border: 1px solid #DD0000;
    background-color: #DD0000;
    border-radius: 5px;
    text-decoration: none;
}
.fa-terminal{
    margin-left: 7px;
}
/* -------------------------------------------------------
-------------------------body content style-
------------------------------------------------------------- */

/* .match-section{
    margin-top: 30px; */

.mix-box{
    display: flex;
}
.content-section{
    margin-top: 50px;
    margin-left: 70px;
    width: 85%;
    border-radius: 17px;
    display: flex;
}
.match-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    grid-column-gap:13px ;
}
.match-title{
    margin-top: 20px;
}
.match-button{
    padding: 1px 9px 4px;
    border: 1px solid #1d1c1c ;
    background-color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
}
.match-title a{
    color: #161616;
}
.match{
    width: 200px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    height: 250px;
}
.thumbnail img{
    width: 200px;
}
.fa-clock{
    color: hwb(0 79% 16%);
    margin-right: 7px;
}
.title{
    margin-left: 15px;
}
#para-b{
    font-size: small;
}
.timer-messege{
    display: flex;
    margin-top: -10px;
}
.timer-messege img{
    width: 9%;
    height: 7%;
    margin-top: 17px;
    padding-left: 10px;
    padding-right: 10px;
}
.messege{
    padding-left: 20px;
}
span{
    padding-left: 10px;
}
.fa-message-dots{
    color: red;
}
/* up-coming style */
.flex-box{
    margin-right: 12px;
}
.coming-box a{
    text-decoration: none;
    color: #161616;
}
.up-coming{
    width: 200px;
    height: 180px;
    background-color: #161616;
    border-radius: 10px;
}
.all-group{
    background-color: #FFFFFF;
    padding:6px 16px 10px;
    border-radius: 7px;
    text-align: center;
}
.blog{
    padding: 6px 16px 10px;
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #e90808;
    border-radius: 7px;
    text-align: center;
}
#blog-a{
    color: #FFFFFF;
}
.coming-box{
    padding: 6px 16px 10px;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 10px;
}
/* all-view */
.all-content{
    visibility: hidden;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* ---------------------------
-----------------footer style -------------
------------------------------*/
hr{
    color: #f4e6e6;
    width: 80%;
}
#fot-h{
    font-size: 2em;
    text-align: center;
    padding-top: 50px;
}
footer{
    height: 300px;
    width: 100%;
    background-color: #161616;
}
.footer-bar{
    display: flex;
    text-align: center;
    margin-left: 70px;
    padding-left: 70px;
}
.footer-bar a{
    text-decoration: none;
    color: #B9B9B9;
}
.bar-menu{
    margin-left: 35px;
    font-size: small;
    margin-top: 50px;
}

/*----------------------------- -----------------
-----------------upcoming match----------------
-------------------------------- */
.mix-match{
    display: flex;
}
.vs-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.verses{
    width: 190px;
    height: 160px;
    border: 1px solid rgb(206, 210, 211);
    border-radius: 8px;
    padding-left: 9px;
}
.matt{
    display: flex;
    margin-top: 20px;
}
.thumb img{
    width: 70px;
}
#vss{
    padding-left: 8px;
    padding-right: 10px;
}
#germany{
    color: #161616;
    font-size: 1.1em;
    text-align: center;
}
#time{
    font-size: small;
    text-align: center;
    margin-top: 0%;
}